.wrapper{
  background-color: #f6f7fb;
}
.banner_right {
  width: 736px;
  height: 405px;
}

.banner_img {
  width: 100%;
  height: 100%;
}

.banner_img .layer {
}

.banner_img img {
  /* width: 100%; */
  height: 100%;
}
.banner {
  width: 100%;
  height: 530px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url('../images/bg_home_banner_@1x.png') no-repeat center center;
}

.banner_title {
  margin-top: 60px;
  font-size: 40px;
}

.banner_subtitle {
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
  text-shadow: 0 2px #00164e, 2px 0 #00164e, -2px 0 #00164e, 0 -2px #00164e;
}
.banner-footer{
  text-align: center;
}
.advantage-wrap {
  overflow: hidden;
  padding: 0 20px;
}

.advantage {
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantage_item {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item_left {
  width: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_left img{
}
.item_right {
  padding-top: 8px;
  text-align: center;
}

.right_num {
  font-size: 20px;
}
.right_num span{
  display: inline-block;
  margin-left: 2px;
  font-size: 30px;
  vertical-align: top;
}
.right_Name {
  font-size: 12px;
  color: #8593b6;
}

.useTitle {
  margin: 0px auto;
  margin-top: 60px;
  margin-bottom: 5px;
  height: 32px;
  border-bottom: 1px solid grey;
  width:99px;
  font-size:24px;
  font-family:MicrosoftYaHei;
  line-height:1;
  font-weight: bold;
}
.useSubTitle{
  text-align: center;
  margin-bottom: 60px;
  color: grey;
}

.chronic_img{
  margin: 0 auto;
  width: 1200px;
  height: 580px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.chronic_img1{
  margin: 0 auto;
  width: 1200px;
  height: 950px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.bac_img2{
  width: 100%;
  height: 100%;
  background-image: url(../images/2.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  z-index: 5;
}
.bac_img3{
  width: 100%;
  height: 100%;
  background-image: url(../images/4.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  z-index: 5;
}
.patient_img{
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  background-size: 100% auto;
}

.bac_img{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../images/1.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.bac_img1{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(../images/3.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.chronic_box{
  width: 160px;
  height: 90px;
  position: absolute;
  left: 12%;
  top: 50px;
  z-index: 3;
}
.member_box{
  width: 180px;
  height: 90px;
  position: absolute;
  left: 13.5%;
  top: 53px;
  z-index: 3;
  text-align: justify;
}
.member_box2{
  width: 180px;
  height: 90px;
  position: absolute;
  left: 13.5%;
  top: 216px;
  z-index: 3;
  text-align: justify;
}
.profession_box{
  width: 177px;
  height: 90px;
  position: absolute;
  left: 32.5%;
  top: 180px;
  z-index: 3;
  text-align:justify;
}
.profession_box2{
  width: 177px;
  height: 90px;
  position: absolute;
  left: 73%;
  top: 180px;
  z-index: 3;
  text-align:justify;
}
.profession_box3{
  width: 177px;
  height: 90px;
  position: absolute;
  left: 12%;
  top: 425px;
  z-index: 3;
  text-align:justify;
}
.profession_box4{
  width: 177px;
  height: 90px;
  position: absolute;
  left: 53%;
  top: 425px;
  z-index: 3;
  text-align:justify;
}
.member_box3{
  width: 180px;
  height: 90px;
  position: absolute;
  left: 13.5%;
  top: 395px;
  z-index: 3;
  text-align: justify;
}
.member_box4{
  width: 180px;
  height: 90px;
  position: absolute;
  left: 13.5%;
  top: 555px;
  z-index: 3;
  text-align: justify;
}
.chronic_box2{
  width: 160px;
  height: 90px;
  position: absolute;
  right: 13%;
  top: 50px;
  z-index: 3;
  text-align: justify;
}
.chronic_box3{
  width: 160px;
  height: 90px;
  position: absolute;
  left: 12%;
  top: 410px;
  z-index: 3;
  text-align: justify;
}
.patient_box{
  width: 100px;
  height: 90px;
  position: absolute;
  left: 14.5%;
  top: 140px;
  z-index: 3;
}
.patient_box2{
  width: 150px;
  height: 90px;
  position: absolute;
  left: 33%;
  top: 140px;
  z-index: 3;
}
.patient_box3{
  width: 150px;
  height: 90px;
  position: absolute;
  left: 54%;
  top: 140px;
  z-index: 3;
  text-align: center;
}
.patient_box4{
  width: 150px;
  height: 90px;
  position: absolute;
  left: 74.5%;
  top: 140px;
  z-index: 3;
  text-align: center;
}
.chronic_box4{
  width: 160px;
  height: 90px;
  position: absolute;
  right: 13%;
  top: 400px;
  z-index: 3;
  text-align: justify;
}
.chronic_title{
  text-align: right;
  margin-bottom: 5px;
  font-weight: bold;
}
.chronic_title1{
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}
.patient_title{
  text-align: center;
  font-weight: bold;
  padding-top: 6px;
  padding-bottom: 20px;
}
