div.news-bg {
  background: url("../img/newVersion/news/news-bg.png");
  min-height: 300px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.news-container {
  min-height: 300px;
  padding-right: 15px;
  padding-left: 15px;
  width: 1000px;
  margin: 5% auto 100px;
  position: relative;
  text-align: center;
}

.news-container.content {
  padding: 15px 20px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-left: 1px solid #f8f8f8;
  border-right: 1px solid #f9f9f9;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #f9f9f9;
  -webkit-box-shadow: #ebebeb 0px 1px 0px;
  -moz-box-shadow: #ebebeb 0px 1px 0px;
  box-shadow: #ebebeb 0px 1px 0px;
}

.news-title {
  text-align: left;
}

.news-title h2 {
  color: #625e5d;
  margin-top: 6px;
  font-size: 30px;
}

.news-title p {
  color: #898991;
  margin-bottom: 0px;
  margin-top: 16px;
}

.content hr {
  border-top: 1px dashed #ebebeb;
}

.news-content {
  text-align: left;
  padding: 0 10px;
}

.news-content p {
  color: #625e5d;
  text-indent: 32px;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.news-img {
  padding: 10px;
}

.news-img img {
  width: 100%;
  height: auto;
}

.news-tag a {
  text-align: left;
  display: block;
}

.news-tag a:focus,
.news-tag a:hover {
  text-decoration: none;
  cursor: pointer;
}

.news-tag a>div {
  margin-left: auto;
  margin-right: auto;
  width: 330px;
  height: 334px;
  padding: 20px 0;
  border: 1px solid #e5e9f3;
  background-color: #f9fbfd;
  margin-bottom: 30px;
}


.news-tag a:focus div,
.news-tag a:hover div {
  border-color: #1989fa;
}

.news-tag a h5 {
  color: #081631;
  font-size: 18px;
  margin: 20px 10px;
  line-height: 22px;
}

.news-tag a p {
  color: #081631;
  margin-left: 10px;
  position: absolute;
  bottom: 3px;
}

.btns-bot {
  position: absolute;
  right: 0;
  bottom: -70px;
}

.btns-bot a {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.btns-bot a.left {
  background: url("../img/newVersion/news/tag-left.png") no-repeat;
  margin-right: 30px;
}

.btns-bot a.right {
  background: url("../img/newVersion/news/tag-right.png") no-repeat;
}

.btns-bot a.left:hover {
  background: url("../img/newVersion/news/tag-left-pre.png") no-repeat;
}

.btns-bot a.right:hover {
  background: url("../img/newVersion/news/tag-right-pre.png") no-repeat;
}

.sub-foot a.scroll.up {
  position: absolute;
  top: -175px;
  right: 30px;
  cursor: pointer;
}


@media (max-width: 690px) {
  .news-container {
    width: 100%;
    /*padding: 0;*/
  }
}
a.col-sm-4.col-md-4{
	overflow: hidden;
}

a.col-sm-4.col-md-4 img {
  transition: transform 0.3s linear;
}
a.col-sm-4.col-md-4:hover img {
  transform: scale(1.06);
}

/* a.col-sm-4.col-md-4:hover h5 {
 border-color: #1989fa;
}
 */
.cover {
  display: none;
}

a.col-sm-4.col-md-4 .pics,
a.col-sm-4.col-md-4 h5,
a.col-sm-4.col-md-4 p {
  position: relative;
}

.news-tag a div .cover {
  margin-top: 0;
  width: 340px;
  margin-left: -20px;
  height: 300px;
  margin-top: -25px;
  border: 1px solid #efefef;
  background: #f9fbfd;
}

.news-tag a div.pics {
  height: 160px;
  width: 292px;
  margin: 0 19px;
  overflow: hidden;
}

.news-tag a p {
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0 19px;
}

.news-tag a div {
  box-shadow: none;
}

.news-tag a h5 {
  margin: 0;
  margin-top: 20px;
  padding: 20px 19px 0;
  border-top: 1px solid #efefef;
}

.news-container .row {
  margin-left: -45px;
  margin-right: -45px;
}

.share{
  margin: 30px;
  padding: 30px;
  padding-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #2ac4fb;
  position: relative;
  text-align: left;
}
.share-name{
  position: absolute;
  left: 30px;
  top: -10px;
  z-index: 5;
  background-color: #2ac4fb;
  color: #fff;
  padding: 10px;
  line-height: 1;
  border-radius: 6px;
}
