
.bottom {
  width: 100%;
  background:rgba(9,25,40,1);
  text-align: center;
  color: #fff;
  font-size: 14px;
  float: left;
  /*display: none;*/
  padding-top: 60px;
}
.bottom_box{
  display: flex;
  flex-direction: row;
  padding: 0 165px;
  padding-bottom: 32px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}
.bottom_footer{
  padding: 24px 0;
  font-size: 11px;
  opacity: 0.8;
}
.bottom_left{
  display: flex;
  flex-direction: row;
}
.codeName{
  color: #fff;
  opacity: 0.5;
  margin-top: 5px;
}

.company{
  margin-bottom: 14px;
  line-height: 1;
  margin-top: 40px;
}

.company1{
  margin-bottom: 40px;
  line-height: 1;
  margin-top: 20px;
}

.contact{
  font-size: 16px;
  opacity: 0.5;
  line-height: 1;
  margin-bottom: 20px;
}
.copyRight{
  font-size: 16px;
  opacity: 0.3;
  padding-bottom: 60px;
}
.bottom_item{
  margin-right: 80px;
  text-align: left;
}
.bottom_title{
  opacity: 0.9;
  margin-bottom: 30px;
}
.bottom_sub_item{
  opacity: 0.5;
  margin-bottom: 17px;
  line-height: 1;
}
.bottom_sub_item:hover a{
  color: #17bf98;
}
.qr_code{
  width: 130px;
  margin-top: 30px;
}