.wrapper{
}
a{
  display: inline-block;
  width: 100%;
  color: #fff;
  text-decoration: none;
}
.more_btn a {
  color: #17BF98;
}
.index_banner_bac{
  width: 100%;
  height: 610px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  z-index: 0;
}
#banner1{
  background-image: url(../images/pic_home_banner_背景图_@1x.png);
}
#banner2{
  background-image: url(../images/pic_home_banner_背景图2_@1x.png);
}
#banner3{
  background-image: url(../images/pic_home_banner_背景图3_@1x.png);
}
#banner4{
  background-image: url(../images/pic_home_banner_背景图4_@1x.png);
}
.index_banner_bac_corner{
  width: 542px;
  height: 239px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  right: 0;
  z-index: 0;
  bottom: 0;
  background-image: url(../images/pic_home_banner_圆角_@1x.png);
}
.swiper-button-disabled{
  display:none;
}
.swiper-pagination-bullet-active{
  background: #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 40px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}
.swiper-pagination-bullet{
  background: #fff;
}
.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
}
.banner_header_left{
  position: absolute;
  left: 0;
  z-index: 3;
}
.banner_header_right{
  position: absolute;
  z-index: 100;
  top: 144px;
  right: 0;
}
.banner_header_right4{
  position: absolute;
  z-index: 100;
  top: 61px;
  right: 0;
}
.case_top_box{
  width: 100%;
  height: 250px;
  background-color: #F3F8FC;
  position: absolute;
  top: 0;
  z-index: -1;
}
.manage_item:hover { 
  background-color: #0f2d48;
  color: #fff;
}
.banner_img {
  width: 100%;
  height: 100%;
}
.product_item{
  width:100%;
  height:270px;
  background:rgba(17,49,78,1);
  box-shadow:0px 8px 12px 0px rgba(32,33,39,0.1);
  border-radius:6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  font-weight: normal;
}
.border_bottom_box{
  width: 100%;
  height: 70px;
  background-color: #17BF98;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.product_title{
  font-size: 20px;
}
.product_subtitle{
  font-size: 14px;
  margin-top: 22px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  background-image: url(../images/ic_home_方案产品_arrowright.png);
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url(../images/ic_home_方案产品_arrowleft.png);
}
.swiper-button-next, .swiper-button-prev {
  width: 68px;
  height: 68px;
  background-size: 100%;
}
.lock_img{
  width: 113px;
  height: 227px;
  margin-right: 52px;
  margin-top: 30px;
}
@keyframes bounceInLeft {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounceInLeft1 {
  0% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
.saas_img.active{
  -webkit-animation: bounceInLeft 1s infinite;
}
.app_img.active{
  -webkit-animation: bounceInLeft1 1s infinite;
}
.saas_img{
  width: 471px;
  height: 526px;
}
.app_img{
  width: 307px;
  height: 567px;
}
.lock_cycle_img{
  width: 197px;
  height: 210px;
  margin-top: 20px;
  margin-right: 96px;
}
.product_lock_left{
  margin-top: 63px;
  margin-left: 114px;
}
.lock_bag_img{
  width: 154px;
  height: 224px;
  margin-right: 96px;
  margin-top: 38px;
}
.lock_gui_img{
  width: 80px;
  height: 228px;
  margin-right: 96px;
  margin-top: 32px;
}
.lock_gua_img{
  width: 139px;
  height: 213px;
  margin-right: 96px;
  margin-top: 39px;
}
.productListLeft{
  color: #fff;
  display: flex;
  justify-content: center;
}
.productListRight{
  color: #fff;
  display: flex;
}
.case{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.saas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.manage_img{
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.manage_img_app{
  width: 39px;
  height: 39px;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.manage_text{
  font-size: 14px;
  margin-top: 14px;
}
.case_item{
  width: 100px;
  height: 100px;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  border: none;
}
.case_item.active{
  border: 2px solid #17bf98;
}
.case_img_s{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.hover{
  background-color: #0f2d48;
  color: #fff;
}
#manage_img13 .case_img_s {
  background-image: url(../images/pic_home_企业案例酒店小_selected_@1x.png);
}
#manage_img14 .case_img_s {
  background-image: url(../images/pic_home_企业案例校园小_selected_@1x.png);
}
#manage_img15 .case_img_s {
  background-image: url(../images/pic_home_企业案例家居小_selected_@1x.png);
}
#manage_img16 .case_img_s {
  background-image: url(../images/pic_home_企业案例交通小_selected_@1x.png);
}
#manage_img1 .manage_img{
  background-image: url(../images/ic_home_SAAS_用户管理_selected_@1x.png);
}
#manage_img2 .manage_img {
  background-image: url(../images/ic_home_SAAS_产品管理_unselected_@1x.png);
}
#manage_img3 .manage_img {
  background-image: url(../images/ic_home_SAAS_告警管理_unselected_@1x.png);
}
#manage_img4 .manage_img {
  background-image: url(../images/ic_home_SAAS_服务管理_unselected_@1x.png);
}
#manage_img5 .manage_img {
  background-image: url(../images/ic_home_SAAS_数据统计_unselected_@1x.png);
}
#manage_img6 .manage_img {
  background-image: url(../images/ic_home_SAAS_用户反馈_unselected_@1x.png);
}
#manage_img7 .manage_img {
  background-image: url(../images/ic_home_SAAS_操作日志_unselected_@1x.png);
}
#manage_img8 .manage_img {
  background-image: url(../images/ic_home_SAAS_系统管理_unselected_@1x.png);
}
#manage_img9 .manage_img_app {
  background-image: url(../images/ic_home_APP_设备管理_selected_@1x.png);
}
#manage_img10 .manage_img_app {
  background-image: url(../images/ic_home_APP_临时密码_unselected_@1x.png);
}
#manage_img11 .manage_img_app {
  background-image: url(../images/ic_home_APP_权限分级_unselected_@1x.png);
}
#manage_img12 .manage_img_app {
  background-image: url(../images/ic_home_APP_消息通知_unselected_@1x.png);
}
.manage{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 70px;
}
.manage_item, .manage_item1{
  width: 156px;
  height: 120px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.black_bac{
  width: 100%;
  height: 100%;
  position: absolute;
  background: black;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.case_item.active .black_bac {
  opacity: 0;
}
.case_item:hover .case_img_s{
  width: 100%;
  -webkit-animation-name: scaleDraw; /*关键帧名称*/
  -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
  -webkit-animation-iteration-count: infinite;  /*动画播放的次数*/
  -webkit-animation-duration: 5s; /*动画所花费的时间*/
}
@keyframes scaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0%{
        transform: scale(1);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.1); /*放大1.1倍*/
    }
    50%{
        transform: scale(1);
    }
    75%{
        transform: scale(1.1);
    }
}
.case_img{
  width: 520px;
  height: 390px;
}
.case_title{
  font-size: 24px;
  margin-top: 50px;
}
.case_subtitle{
  width:540px;
  font-size:14px;
  color:rgba(96,114,132,1);
  margin-top: 24px;
  line-height: 2;
}
.case_right{
}
.more_btn{
  width:108px;
  height:38px;
  font-size:14px;
  color:rgba(23,191,152,1);
  border: 1px solid rgba(23,191,152,1);
  text-align: center;
  line-height: 38px;
  margin-top: 30px;
  border-radius: 3px;
}
img {
  width: 100%;
}
.product{
  width: 1110px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.banner {
  width: 100%;
  height: 610px;
  color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
}

.banner_btn{
  width:200px;
  height:56px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:0px 6px 12px 0px rgba(40,43,49,0.08);
  border-radius:4px;
  margin-top: 100px;
  border: 1px solid rgba(23,191,152,1);
}
.banner_btn a {
  text-align: center;
  color: rgba(23,191,152,1);
}
.banner_btn:hover a {
  color: #fff;
}
.more_btn:hover{
  background:rgba(23,191,152,1);
}

.more_btn:hover a{
  color: #fff;
}

.banner_btn:hover{
  text-align: center;
  background:rgba(23,191,152,1);
  color: #fff;
}

.banner_title {
  margin-top: 149px;
  font-size: 34px;
  line-height: 1;
}

.banner_subtitle {
  margin-top: 40px;
  font-size: 18px;
  line-height: 2;
  text-shadow: 0 2px #00164e, 2px 0 #00164e, -2px 0 #00164e, 0 -2px #00164e;
}
.banner-footer:hover {
  text-decoration: underline;
}
.view_more{
  font-size: 14px;
  margin-top: 75px;
}
.advantage-wrap {
  overflow: hidden;
  padding: 0 20px;
}

.advantage {
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantage_item {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item_left {
  width: 205px;
  height: 159px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_left img{
  height: 159px;
  width: auto;
}
.item_right {
  padding-top: 8px;
  text-align: center;
}

.right_num {
  font-size: 20px;
}
.right_num span{
  display: inline-block;
  margin-left: 2px;
  font-size: 30px;
  vertical-align: top;
}
.right_Name {
  font-size: 12px;
  color: #607284;
  margin-top: 15px;
  line-height: 2;
}

.useTitle {
  margin: 0px auto;
  margin-top: 60px;
  margin-bottom: 25px;
  font-size:24px;
  font-family:MicrosoftYaHei;
  line-height:1;
  font-weight: bold;
  text-align: center;
}
.title_underline{
  width: 50px;
  height: 4px;
  margin: 0 auto;
  background: #17bf98;
  margin-top: 20px;
  border-radius: 2px;
}
.useSubTitle{
  width:699px;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 60px;
  color: grey;
  font-size: 14px;
  line-height: 2;
}

.chronic_img{
  margin: 0 auto;
  width: 1200px;
  height: 580px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.chronic_img1{
  margin: 0 auto;
  width: 1200px;
  height: 950px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.bac_img2{
  width: 100%;
  height: 100%;
  background-image: url(../images/2.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  z-index: 5;
}
.left_img{
  position: absolute;
  left: 0;
  width: 309px;
  height: 634px;
  background-size: 100% auto;
}
.saas_right_img{
  position: absolute;
  right: 0;
  top: 204px;
  width: 349px;
  height: 585px;
  background-size: 100% auto;
  z-index: -1;
}
.saas_left_img{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 349px;
  height: 585px;
  background-size: 100% auto;
  z-index: -1;
}
.right_img{
  position: absolute;
  right: 0;
  top: 180px;
  width: 250px;
  height: 592px;
  background-size: 100% auto;
}
.bac_img3{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}
.patient_img{
  margin: 0 auto;
  width: 1150px;
}

.bac_img{
  width: 100%;
  height: 100%;
  position: relative;
}
.bac_img1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chronic_box{
  width: 160px;
  height: 90px;
  position: absolute;
  left: 12%;
  top: 50px;
  z-index: 3;
}
.member_box{
  width: 180px;
  height: 90px;
  position: absolute;
  left: 13.5%;
  top: 53px;
  z-index: 3;
  text-align: justify;
}
.member_box2{
  width: 180px;
  height: 90px;
  position: absolute;
  left: 13.5%;
  top: 216px;
  z-index: 3;
  text-align: justify;
}
.profession_box{
  width: 177px;
  height: 90px;
  position: absolute;
  left: 32.5%;
  top: 180px;
  z-index: 3;
  text-align:justify;
}
.profession_box2{
  width: 177px;
  height: 90px;
  position: absolute;
  left: 73%;
  top: 180px;
  z-index: 3;
  text-align:justify;
}
.profession_box3{
  width: 177px;
  height: 90px;
  position: absolute;
  left: 12%;
  top: 425px;
  z-index: 3;
  text-align:justify;
}
.profession_box4{
  width: 177px;
  height: 90px;
  position: absolute;
  left: 53%;
  top: 425px;
  z-index: 3;
  text-align:justify;
}
.member_box3{
  width: 180px;
  height: 90px;
  position: absolute;
  left: 13.5%;
  top: 395px;
  z-index: 3;
  text-align: justify;
}
.member_box4{
  width: 180px;
  height: 90px;
  position: absolute;
  left: 13.5%;
  top: 555px;
  z-index: 3;
  text-align: justify;
}
.chronic_box2{
  width: 160px;
  height: 90px;
  position: absolute;
  right: 13%;
  top: 50px;
  z-index: 3;
  text-align: justify;
}
.chronic_box3{
  width: 160px;
  height: 90px;
  position: absolute;
  left: 12%;
  top: 410px;
  z-index: 3;
  text-align: justify;
}
.patient_no{
  font-size: 60px;
}
.patient_box{
  background: #fff;
  padding: 20px;
  width: 230px;
  height: 220px;
  box-shadow:0px 2px 10px rgba(32,33,39,0.1);
  border-radius:4px;
}
.patient_box:hover{
  box-shadow:0px 2px 10px rgba(32,33,39,0.2);
}
.app_right{
  margin-top: 100px;
}
.app_img img{
  width: 100%;
}
.service_content{
  color:#607284;
  font-size:12px;
  text-align: justify;
}
.chronic_box4{
  width: 160px;
  height: 90px;
  position: absolute;
  right: 13%;
  top: 400px;
  z-index: 3;
  text-align: justify;
}
.chronic_title{
  text-align: right;
  margin-bottom: 5px;
  font-weight: bold;
}
.chronic_title1{
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}
.patient_title{
  padding-top: 6px;
  padding-bottom: 20px;
  font-size: 18px;
}
.saas_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 132px 0;
}
.saas_title{
  width: 298px;
  font-size: 36px;
  line-height: 2;
}
.saas_sub_title{
  font-size: 24px;
  margin-top: 40px;
}
.saas_contact{
  font-size: 14px;
  margin-top: 80px;
  line-height: 3;
}
.saas_company{
  font-size: 12px;
  color: #676C75;
  padding-top: 60px;
}
.saas_right{
  padding: 35px 70px;
}
.saas_box{
  width: 570px;
  height: 570px;
  box-shadow: 0px 1px 10px 0px rgba(32,33,39,0.1);
  border-radius:6px;
  margin-right: 5px;
  background-color: #fff;
}
.login_top{
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-bottom: 36px;
}
.login_by_password{
  color: #999EA8;
  margin-left: 56px;
}
.account_input input, .password_input input{
  width:410px;
  height:50px;
  background:rgba(248,249,250,1);
  border:1px solid rgba(231, 232, 234, 1);
  border-radius:6px;
  outline: none;
  margin-bottom: 20px;
  padding-left: 20px;
}
.code_input input{
  width:254px;
  height:50px;
  background:rgba(248,249,250,1);
  border:1px solid rgba(231, 232, 234, 1);
  border-radius:6px;
  outline: none;
  margin-bottom: 20px;
  padding-left: 20px;
}
.code_auth{
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(248,249,250,1);
  border:1px solid rgba(231, 232, 234, 1);
  border-radius:6px;
  margin-left: 20px;
}
.code_img{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.code_box{
  display: flex;
  flex-direction: row;
}
.saas_login_btn{
  width:430px;
  height:50px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(9,25,40,1);
  font-size:17px;
  box-shadow:0px 6px 12px 0px rgba(40,43,49,0.08);
  border-radius:6px;
}
.saas_login_forget{
  text-align: right;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 56px;
}
.saas_login_apply{
  text-align: center;
  font-size: 14px;
}
.saas_icon_ke{
  width: 20px;
  height: 22px;
  margin-right: 9px;
}
.footer_icon_tel{
  width: 14px;
  height: 14px;
  margin-right: 13px;
}
.footer_icon_you{
  width: 16px;
  height: 13px;
  margin-right: 11px;
}
.saas_icon_you{
  width: 18px;
  height: 16px;
  margin-right: 12px;
}
.saas_contact_item{
  display: flex;
  align-items: center;
}
.download_section_title{
  width: 475px;
  margin: 0 auto;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 38px;
}