body {
	font-family: "Microsoft YaHei" ! important;
	color: #3e3a39;
	min-width: 800px;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.spcl {
	margin-left: 5%;
}
ul.spcl>li {
	margin-left: 15px;
	margin-right: 15px;
}
.nav.navbar-nav>li>a {
	font-size: 17px;	
}
header#top {
	border-bottom: 1px solid #E0E0E0;
	box-shadow: 0 0px 6px 2px #E0E0E0;
}
.navbar-nav.nav-use>li>a {
	border: 1px solid #929292;
    color: #929292;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 13px;
    padding: 3px 10px;
    margin: 10px 30px 10px 10px;
}
.navbar-nav.nav-use>li>a:hover {
	border: 1px solid #FFF;
    color: #FFF;
    background-color: #15beee;
}
div.carousel-cos {
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 1366px;
}
div.cos {
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 0;
	position: relative;
	height: 825px;
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}
.cos .container {
	position: relative;
}
.cos .bg-texts {
	padding: 35px;
	position: absolute;
	top: 55px;
	width: 52%;
}
.right-text {
	text-align: left;
	right: 0;
}
.left-text {
	text-align: right;
	left: 0;
}
.cos .bg-texts .text-titles {
	margin-bottom: 60px;
}
.cos .bg-texts .text-titles h3 {
	color: #2ab9f9;
}
.cos .bg-texts .text-titles h1 {
	margin-top: 15px;
	margin-bottom: 15px;
	color: #2ab9f9;
	font-size: 40px;
}
.cos .bg-texts .text-tags {
	text-align: center
}
.cos .bg-texts .text-tags div.col-md-4 {
	padding: 0 50px;
}
.cos .bg-texts .text-tags div.col-md-6 {
	padding: 0 100px;
}
.cos .bg-texts .text-tags p {
	text-align: left;
	font-size: 12px;
}
.cos .bg-texts .text-tags h4 {
	margin-top: 15px;
    margin-bottom: 15px;
}
.cos div.text-bg-sp {
	right: 0px;
	background-color: rgba(0, 180, 232, 0.6);
	filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#9900b4e6', endColorstr='#9900b4e6');
	color: #fff;
}
.mb-50 {
	margin-bottom: 50px;
}
div.bg-4 {
	padding-top: 70px;
	height: 400px;
}
.bg-4 h3 {
	color: #2ab9f9;
	margin-bottom: 45px;
}
div.carous {
	position: relative;
	width: 560px;
	margin: auto;
	text-align: left;
}
/*div.car-cont {
	width: 560px;
	margin: auto;
}
*/div.car-cont img {
	margin: 13px 21px;
}
div.car-cont div.row {
	margin-right: 0;
}
a.carous-btn {
	position: absolute;
    top: 233px;
}
a.back {
    left: 20%;
    z-index: 100;
}
a.forward {
    right: 20%;
    z-index: 100;
}
.bg-1 {
	background: url("../img/newVersion/bg-1.jpg") no-repeat;
	background-position: center;
}
.bg-2 {
	background: url("../img/newVersion/bg-2.jpg") no-repeat;
	background-position: center;
}
.bg-3 {
	background: url("../img/newVersion/bg-3.jpg") no-repeat;
	background-position: center;
}
.bg-4 {
	background-color: #f7fafa;
}


div.sub-foot {
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 0;
	position: relative;
	background-color: #f1f1f1;
}
.sub-foot .container {
	padding: 40px 80px 20px;
}
.sub-foot p {
	font-size: 14px;
	margin-top: 8px;
}
a.scroll {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
    right: 20px;
    cursor: pointer;
    background: url("../img/newVersion/news/tag-up.png") no-repeat;
}
a.scroll:hover {
	background: url("../img/newVersion/news/tag-up-pre.png") no-repeat;
}

a.navbar-brand {
	background: url("../img/newVersion/logo.jpg") no-repeat;
	background-size:100%;
	width:103px;
	padding:0 10px;
}

@media (max-width: 1260px) {
	.cos .bg-texts .text-tags div.col-md-4 {
		padding: 0 2px;
	}
	.cos .bg-texts .text-tags div.col-md-6 {
		padding: 0 2px;
	}
}
@media (max-width: 1024px) {
	a.forward {
	    right: 10%;
	}
	a.back {
	    left: 10%;
	}
}
@media (max-width: 690px) {
	body {
		min-width: 100px;
	}
	div.cos {
		height: auto;
	}
	ul.spcl {
	    margin-left: -30px;
	}
	.cos .bg-texts .text-titles {
	    margin-bottom: 30px;
	}
	.cos .bg-texts .text-titles h1 {
	    font-size: 30px;
	}
	.cos .bg-texts .text-titles h3 {
	    font-size: 20px;
	}
	.bg-1 {
		background: url("../img/newVersion/m-bg-1.jpg") no-repeat;
	}
	.bg-2 {
		background: url("../img/newVersion/m-bg-2.jpg") no-repeat;
	}
	.bg-3 {
		background: url("../img/newVersion/m-bg-3.jpg") no-repeat;
	}
	.cos .bg-texts {
		top: 0;
		width: 100%;
		position: inherit;
	}
	.right-text {
		text-align: left;
	}
	.left-text {
		text-align: left;
	}
	a.carous-btn {
	    top: 171px;
	}
	a.forward {
	    right: 5px;
	}
	a.back {
	    left: 5px;
	}
	.mb-50 {
		margin-bottom: 15px;
	}
	div.bg-4 {
	    padding-top: 10px;
	    padding-bottom: 40px;
	}
	.bg-4 h3 {
	    font-size: 20px;
	}
	div.carous {
		width: 100%;
	}
	div.carous div.row {
		width: 270px;
		margin-left: auto;
		margin-right: auto;
	}
	div.car-cont img {
	    margin: 10px 0px;
	    width: 50px;
	}

	ul.spcl {
	    margin-left: -30px;
	}
	ul.navbar-nav.nav-use {
		border-top: 1px solid #f1f1f1;
	}
	.navbar-nav.nav-use>li>a {
		border: 0;
	    color: #929292;
	    border-radius: 0;
	    -moz-border-radius: 0;
	    -webkit-border-radius: 0;
	    font-size: 14px;
	}
	.navbar-nav.nav-use>li>a:hover {
	    border: 0;
	    color: #15beee;
    	background-color: #fff;
	}
}


@media (min-width: 768px) {
	.container {
	    width: 100%;
	}
}
@media (min-width: 992px) {
	.container {
	    width: 100%;
	}
}
