.league_img:hover{
  box-shadow:0px 1px 20px rgba(255,255,255,1);
  border-radius: 12px;
}

.index_text{
	z-index: 1;
	position: relative;
	justify-content: center;
	align-items: center;
	color: #000;
	font-size:40px;
}
.index_text_bold{
	font-weight:bold;
}
.index_text_en{
	z-index: 1;
	position: relative;
	justify-content: center;
	align-items: center;
	color: #000;
	font-size:36px;
	font-weight:bold;
}
.section1_index_text{
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
}
.section2_index_text{
  width: 100%;
  position: absolute;
  text-align: center;
  top: 40%;
}
a{
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.relative{
  position: relative;
}
.mouse_btn_b a{
  color: black;
}
img {
  width: 100%;
}
video{
  background: black;
  box-shadow: 0px 0px 5px 3px #252323;
}
.video_lg{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 130;
  display: none;
  background-color: rgba(0,0,0,0.5);
}
.video_play {
  width: 810px;
  height: 500px;
  z-index: 131;
  position: fixed;
  display: none;
  margin-top: -250px;
  top: 55%;
  margin-right: auto;
  left: 50%;
  margin-left: -400px;
}
.close_video {
  background: url(../images/icon-cross-squre.png) no-repeat;
  border-radius: 0.3rem;
  top: -30px;
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.video-js{
  background-color: #000;
  position: relative;
  padding: 0;
  font-size: 10px;
  vertical-align: middle;
}
.section_index{
  width: 100%;
  height: 650px;
  background:rgba(0,0,0,1);
  position: relative;
}
.section1_index{
  width: 100%;
  height: 650px;
  position: relative;
}
.section2_index{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #DBDEE5;
  height: 358px;
  position: relative;
}
.section2_about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #DBDEE5;
}
.legue_title{
  color: #375A92;
  font-size: 20px;
  line-height: 1.5;
}
.legue_box{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}
.finger_computer_img{
  position: absolute;
  right: 0;
}
.finger_certify_img{
  position: absolute;
  bottom: 160px;
  left: 20%;
}
.league_img{
  width: 305px;
  height: 148px;
}
.league_img:hover{
	cursor:pointer;
}

.banner {
  position: relative;
}
.banner_content_support{
  position: absolute;
  top: 30%;
  left:50%;
  transform:translate(-50%,0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.banner_text_support{
  font-size: 16px;
}
.banner_btn_support{
  width:144px;
  height:44px;
  border:2px solid rgba(255,255,255,1);
  border-radius:27px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px 0;
}
.index_btn, .mouse_btn{
  color: #fff;
  position: absolute;
  left:50%;
  bottom: 120px;
  transform:translate(-50%,0);
  width:180px;
  height:54px;
  border:2px solid rgba(255,255,255,1);
  border-radius:27px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mouse_btn_bottom{
	bottom: 7%;
}
.banner_btn{
  color: #fff;
  position: absolute;
  left:50%;
  top: 60%;
  transform:translate(-50%,0);
  width:180px;
  height:54px;
  border:2px solid rgba(255,255,255,1);
  border-radius:27px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.banner_btn_mouse{
  color: #fff;
  position: absolute;
  left:50%;
  bottom: 57px;
  transform:translate(-50%,0);
  width:180px;
  height:54px;
  border:2px solid rgba(255,255,255,1);
  border-radius:27px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.banner_btn_certify{
  position: absolute;
  left:50%;
  bottom: 62px;
  transform:translate(-50%,0);
  width:180px;
  height:54px;
  border:2px solid rgba(0, 0, 0,1);
  border-radius:27px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.banner_btn_certify a{
  color: black;
}
.banner_btn_support{
	cursor: pointer;
}
.banner_btn a, .banner_btn_certify a, .banner_btn_mouse a {
  text-align: center;
}
.banner_btn:hover a, .banner_btn_certify:hover a {
  color: #fff;
}
.banner_btn_support:hover, .certify_video_btn:hover, .index_btn:hover, 
.mouse_btn:hover, .mouseS_video_btn:hover, .banner_btn:hover, .banner_btn_certify:hover, .banner_btn_mouse:hover{
  text-align: center;
  background: #FF9364;
  color: #fff;
}

/*指纹鼠标*/
.mouseS_btn{
  left: 77% !important;
  bottom: 27% !important;
}
.relative .mouseN_btn{
  left: 21% !important;
  bottom: 16% !important;
  color: #000;
  border: 2px solid rgba(0,0,0,1);
}
.section_certify{
  background: #DBDEE5;
}
.section_mouseS{
  background:rgba(55,90,146,1);
}
.section_mouse{
  background: #375A92;
}
.section1_mouse{
  padding-top: 46px;
  padding-bottom: 52px;
}
.section2_mouse{
  background: #DBDEE5;
  position: relative;
}
.mouse_img{
  width: 1176px;
  margin: 0 auto;
}
.mouse_btn{
  position: absolute;
  bottom: 7%;
  width:180px;
  height:54px;
  border:2px solid rgba(255,255,255,1);
  border-radius:27px;
  color: #fff;
  left:50%;
  transform:translate(-50%,0);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mouse_btn_b{
  position: absolute;
  bottom: 7%;
  width:180px;
  height:54px;
  border:2px solid black;
  border-radius:27px;
  color: black;
  left:50%;
  transform:translate(-50%,0);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mouseS_video_box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mouseS_video{
  width: 595px;
  height: 492px;
  position: relative;
  margin-bottom: 10px;
}
.certify_video{
  /* width: 393px; */
  height: 632px;
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}
.certify_video_content{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  top: 55px;
}
.mouseS_video_text{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  top: 15px;
}
.mouseS_video_title{
  font-size: 24px;
  line-height: 2;
}
.mouseS_video_btn{
  width:144px;
  height:44px;
  border:2px solid rgba(255,255,255,1);
  border-radius:22px;
  color: #fff;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.certify_video_btn{
  width:144px;
  height:44px;
  border:2px solid rgba(255,255,255,1);
  border-radius:22px;
  color: #fff;
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.video_btn_on img{
  width: 14px;
  height: 16px;
  margin-right: 12px;
}
.basic_title{
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background: #DBDEE5;
}
.basic_w{
  padding-left: 91px;
  height: 40px;
  background: #fff;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.basic_g{
  padding-left: 91px;
  height: 40px;
  background: #DBDEE5;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.basic_right{
  width: 50%;
  text-align: left;
}
.basic_right_bold{
	font-weight: bold;
}
/*技术支持*/
.support_use_title{
  color: #283149;
  font-size: 26px;
  margin-top: 40px;
  text-align: center;
}
.support_use_title_line{
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  width:161px;
  height:6px;
  background:rgba(55,90,146,1);
}
.support_q_item{
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
}
.support_q{
  display: flex;
  flex-direction: row;
  height: 86px;
  background:rgba(40,49,73,1);
}
.support_q_left{
  background: #FF9364;
  color: #fff;
  font-size: 48px;
  width: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.support_q_right{
  padding-left: 16px;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #fff;
}
.support_a{
  background: #DBDEE5;
  padding-left: 131px;
  padding-top: 27px;
  padding-right: 67px;
  padding-bottom: 27px;
}
.support_a_text{
  line-height: 1.5;
  display: inline;
}
.support_a_text_title{
  margin-bottom: 28px;
}
.support_a_text_img{
  margin: 17px 0;
}
.support_a_text_box{
  display: flex;
  flex-direction: row;
}
.support_a_text_left{
  width: 483px;
  margin-right: 50px;
}
.support_a_text_right{
  width: 483px;
}
.support_img_logo{
  width: 110px;
  height: 19px;
  margin-right: 21px;
  display: inline;
}
.support_img_logo_cn{
  width: 60px;
  height: 16px;
  display: inline;
}
.section_about{
  position: relative;
}
.banner_content_about div {
	text-indent:2em;
}
.banner_content_about{
  width: 459px;
  top: 91px;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  left: 20px;
  position: absolute;
}
.banner_content_about_en{
  width: 523px;
  top: 70px;
  font-size: 14px;
  line-height: 1.5;
  left: 20px;
  position: absolute;
}
.about_logo{
  margin-top: 60px;
  margin-bottom: 73px;
}
.s_icon{
  width: 50px;
  height: 18px;
}